:root {
  --red: #f9032f;
  --black: #000;
  --white: #fff;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background: var(--black);
  height: 60px;
  padding: 0.5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar__logo {
  text-decoration: none;
  color: var(--white);
  font-size: 25px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.navbar__logo:hover {
  color: var(--red);
}

.navbar__link {
  color: var(--white);
  text-decoration: none;
  padding: 0 1rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.navbar__link:hover {
  color: var(--red);
}

@media screen and (max-width: 768px) {
  body.active {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .navbar {
    padding: unset;
  }

  .navbar__logo {
    padding-left: 2.5rem;
  }

  .navbar__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100px);
    position: absolute;
    width: 100%;
    top: -1000px;
    opacity: 0;
  }

  .navbar__menu.active {
    top: 100%;
    left: 0;
    opacity: 1;
    z-index: 99;
    height: 100vh;
    font-size: 1.5rem;
    background: var(--black);
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3.5px;
    background: var(--white);
    margin: 5px 0;
    display: block;
    border-radius: 50px;
    cursor: pointer;
  }

  #mobile-menu {
    position: absolute;
    top: 2%;
    right: 5%;
    transform: translate(5%, 40%);
  }

  #mobile-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}

/* Hero Section */

.hero {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1)),
    url("../images/background.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  padding: 0.5rem calc((100vw - 1200px) / 2);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero__content {
  color: var(--white);
  padding: 3rem 1rem;
  line-height: 1;
}

.hero__content h1 {
  margin: unset;
  font-size: clamp(3rem, 8vw, 7rem);
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.hero__content p {
  font-size: clamp(1rem, 4vw, 2.5rem);
  margin-bottom: 3rem;
}

.button {
  padding: 1rem 3rem;
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--red);
  color: var(--white);
  font-size: 1rem;
  text-decoration: none;
  font-weight: 500;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.button:hover {
  background: var(--black);
}

/* Services section */

.services {
  padding: 8rem calc((100vw - 1200px) / 2);
}

.services__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.services__img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: url(../images/gym-2.jpg);
  background-position: center;
  background-size: cover;
  transition: background 0.5s linear;
}

.topline {
  color: var(--red);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.services__heading {
  margin-bottom: 1rem;
  font-size: clamp(2rem, 6vw, 3rem);
}

.services__features {
  text-decoration: none;
}

.services__feature {
  margin-bottom: 1.5rem;
  font-size: clamp(1rem, 5vw, 1.2rem);
}

.fa-circle-check {
  margin-right: 0.5rem;
  color: var(--red);
}

@media screen and (max-width: 768px) {
  .services__container {
    grid-template-columns: 1fr;
  }

  .services__img {
    height: clamp(255px, 360px, 440px);
  }
}

/* Membership section */
.membership__section {
  background: var(--black);
  color: var(--white);
  padding: 6rem calc((100vw-1100px) / 2);
  text-align: center;
}

.membership__section h1 {
  margin: unset;
  margin-bottom: 1rem;
  font-size: clamp(2rem, 5vw, 3rem);
  padding: 2rem 1rem 0;
}

.membership__desc {
  margin-bottom: 3rem;
  font-size: clamp(1rem, 3vw, 1.5rem);
  padding: 1rem;
}

.membership__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.membership__card {
  padding: 2rem;
  margin: 0 1.5rem;
  height: 450px;
  width: 325px;
  background: var(--white);
  color: var(--black);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.membership__perks {
  min-height: 150px;
}

.membership__perks p {
  margin-bottom: 1rem;
}

.card-icon {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--red);
}

.membership__card h3 {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  margin-bottom: 2rem;
}

@media screen and (max-width: 1000px) {
  .membership__card {
    height: 500px;
    margin: 0 1rem;
  }

  .membership__card h3 {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 768px) {
  .membership__wrapper {
    flex-direction: column;
  }

  .membership__card {
    height: 450px;
    margin: 1rem 1rem;
  }
}

/* Team Section */
