:root {
  --red: #f9032f;
  --black: #000;
  --white: #fff;
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background: var(--black);
  height: 60px;
  padding: 0.5rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar__logo {
  text-decoration: none;
  color: var(--white);
  font-size: 25px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}

.navbar__logo:hover {
  color: var(--red);
}

.navbar__link {
  color: var(--white);
  text-decoration: none;
  padding: 0 1rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}

.navbar__link:hover {
  color: var(--red);
}

@media screen and (max-width: 768px) {
  body.active {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .navbar {
    padding: unset;
  }

  .navbar__logo {
    padding-left: 2.5rem;
  }

  .navbar__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar__menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100px);
    position: absolute;
    width: 100%;
    top: -1000px;
    opacity: 0;
  }

  .navbar__menu.active {
    top: 100%;
    left: 0;
    opacity: 1;
    z-index: 99;
    height: 100vh;
    font-size: 1.5rem;
    background: var(--black);
  }

  .navbar__toggle .bar {
    width: 25px;
    height: 3.5px;
    background: var(--white);
    margin: 5px 0;
    display: block;
    border-radius: 50px;
    cursor: pointer;
  }

  #mobile-menu {
    position: absolute;
    top: 2%;
    right: 5%;
    transform: translate(5%, 40%);
  }

  #mobile-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.active .bar:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
  }
}

/* Hero Section */
